// color
$black: #333;
$white: #fff;
$pink: #f89393;
$pink-lighter: #F0DFE2;
$grey: #fcfafa;
$grey-lighter: #c9c9c9;

$primary-color: $pink;

// base
$color-base-font-main: $black;
$color-base-font-sub: $white;
$color-base-background-main: $white;

// header
$color-header-background: $pink-lighter;

// drawer
$color-drawer-background: $pink-lighter;

// menu
$color-menu-line: $primary-color;
$color-menu-circle: $primary-color;
$color-menu-header: $primary-color;

// form
$color-form-border: $grey-lighter;
$color-form-marker: $primary-color;