@use "setting" as *;

.p-form__inner {
  padding: rem(10) rem(10);
  @include mq("md") {
    padding: rem(30) rem(60);
  }
}

.p-form__required {
  display: inline-block;
  font-size: rem(14);
  color: $color-base-font-sub;
  background-color: $primary-color;
  margin-left: rem(10);
  padding: .3em 1em;
  border-radius: 5px;
}

.p-form__label {
  margin-top: rem(30);
}

.p-form__input {
  margin-top: rem(10);
}

.p-form__policy {
  text-align: center;
  margin-top: rem(20);
}

.p-form__button {
  margin-top: rem(30);
  text-align: center;
}

.wpcf7-response-output {
  display: none !important;
}